@import "colors";

* {
  margin: 0px;
}

html {
  background-color: $darkgradient;
}

h1 {
  font-family: "Karla";
  font-weight: 700;
  font-size: 128px;
  text-align: center;
  color: $lightgrey;
  letter-spacing: -2%;
  line-height: 100%;
}

h2 {
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: $primary;
  letter-spacing: -3%;
  line-height: 100%;
}

h3 {
  font-family: "Fira Code";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: $lightgrey;
  letter-spacing: 0%;
  line-height: 100%;
}

h4 {
  font-family: "Fira Code";
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
  span {
    color: $primary;
  }
}

p {
  font-family: "Karla";
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: $lightgrey;
  letter-spacing: 0%;
  line-height: 120%;
}

.column-title {
  font-family: "Karla";
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  color: $primary;
  letter-spacing: 0%;
  line-height: 100%;
}

.copyright {
  font-family: "Fira Code";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: $primary;
}

.small-print {
  font-family: "Karla";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}
