<section id="projects">
  <div class="projects-content">
    <p class="column-title">{{ "sections.projects" | translate }}</p>
    <h2>{{ "projects.title" | translate }}</h2>
    <p>{{ "projects.subline" | translate }}</p>
    <div class="divider-line"></div>
    <div class="project-list-container">
      <ng-container
        *ngFor="let project of projects.projectsList; let i = index"
      >
        <app-project-list-item
          [project]="project"
          [index]="i"
          [projectsList]="projects.projectsList"
        ></app-project-list-item>
      </ng-container>
    </div>
  </div>
</section>
