<section id="about-me">
  <div class="about-me-content">
    <div class="main-img-container">
      <img class="main-img" src="/assets/img/elements/about-me-img.png" />
      <img class="main-img-hover" src="/assets/img/main-img-hover.png" />
    </div>
    <div class="my-details-container">
      <p class="column-title">Who I am</p>
      <app-details-card
        title="About me"
        description="Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?"
      >
        <ng-container *ngFor="let item of myDetailsData.myDetailsList">
          <app-detail-icon-item
            [iconUrl]="item.iconUrl"
            [description]="item.description"
          ></app-detail-icon-item>
        </ng-container>
      </app-details-card>
    </div>
  </div>
</section>
