@import "colors";

div {
  display: block;
  background-color: #3dcfb710;
  border-radius: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  gap: 30px;
  border: solid 1px $primary;
  background-color: none;
  padding: 45px 32px;
  border-radius: 30px;
}
