<section id="contact">
  <div class="contact-section">
    <div class="contact-intro-container">
      <p class="column-title">{{ "general.contact-me" | translate }}</p>
      <h2>{{ "contact.title" | translate }}</h2>
      <div class="contact-info-text">
        <h4>
          <span>{{ "contact.problem-to-solve" | translate }}</span>
        </h4>
        <p>
          {{ "contact.copy" | translate }}
          <br />
          <br />
          {{ "contact.developer-needed" | translate }}
          <span>{{ "skills.lets-talk" | translate }}</span>
        </p>
      </div>
    </div>
    <div class="contact-form-container">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>
