@import "colors";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0px 100px;
  left: 0;
  right: 0;
  padding: 50px;
}

.footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-logo {
  width: 106px;
  height: 47px;
  margin-bottom: 20px;
  background-image: url("/assets/img/elements/logo.png");
  background-size: contain;
  &:hover {
    background-image: url("/assets/img/elements/logo_hover.png");
  }
}
