@import "colors";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  padding: 50px;
}

.footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-logo {
  width: 130px;
  height: 48px;
  background-color: $primary;
  &:hover {
    background-color: $greengradient;
  }
}
