<section>
  <div class="footer-content">
    <div class="footer-column">
      <div class="footer-logo"></div>
      <p class="small-print">Webdeveloper</p>
      <p class="small-print">Klagenfurt Austria</p>
    </div>
    <div class="footer-column">
      <p class="copyright">© Tina Jölly 2025</p>
    </div>
    <div class="footer-column">
      <p class="small-print">GitHub</p>
      <p class="small-print">Linkedin</p>
      <p class="small-print">Email</p>
      <p class="small-print">Legal Notice</p>
    </div>
  </div>
</section>
