@import "../../../styles.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: $darkgradient;
  background: linear-gradient(
    55.22deg,
    $darkgradient 36.26%,
    $greengradient 93.28%
  );
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}
