@import "colors";

.banner-container {
  width: 100%;
  rotate: -3deg;
  position: absolute;
  left: -10px;
  right: 0px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #3dcfb720;
  backdrop-filter: blur(5.300000190734863px);
  padding: 20px;
  z-index: 300;
  p {
    font-family: "Karla";
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: $primary;
  }
}

.divider-circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: $primary;
}
