<div class="mindset-item-container">
  <div id="mindset-hover" class="mindset-hover hidden">
    <p class="small-print colored">I have special interest in learning</p>
    <div class="mindset-content">
      <div class="mindset-item">
        <img src="/assets/img/icons/react.png" />
        <p class="small-print colored">React</p>
      </div>
      <div class="mindset-item">
        <img src="/assets/img/icons/vue-js.png" />
        <p class="small-print colored">Vue Js</p>
      </div>
    </div>
  </div>
  <img
    class="mindset-icon"
    (click)="showHoverItem()"
    src="/assets/img/skills_icons/GrowthMindset.png"
  />
  <p class="subline">Growth mindset</p>
</div>
