<section id="contact">
  <div class="contact-section">
    <div class="contact-intro-container">
      <p class="column-title">Contact me</p>
      <h2>Let's work together</h2>
      <div class="contact-info-text">
        <h4><span>Got a problem to solve?</span></h4>
        <p>
          Encourage people to contact you and describe what role you are
          interested in. Show that you will add value to their projects through
          your work.
          <br />
          <br />
          Need a Frontend developer? <span>Let's talk!</span>
        </p>
      </div>
    </div>
    <div class="contact-form-container">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>
