<div>
  <form action="sendMail.php">
    <app-contact-input
      labelFor="fname"
      label="{{ 'form.name-label' | translate }}"
      inputId="fname"
      inputName="fullname"
      placeholder="{{ 'form.name-help' | translate }}"
    ></app-contact-input>
    <app-contact-input
      labelFor="mail"
      label="{{ 'form.mail-label' | translate }}"
      inputId="mail"
      inputName="email"
      placeholder="{{ 'form.mail-help' | translate }}"
      regExPattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    ></app-contact-input>
    <app-contact-input
      labelFor="message"
      label="{{ 'form.message-label' | translate }}"
      inputId="message"
      inputName="message"
      placeholder="{{ 'form.message-help' | translate }}"
    ></app-contact-input>
    <div class="privacy-check-item">
      <label class="privacy-checkbox">
        <input type="checkbox" name="privacy-policy" />
        <span class="checkmark"></span>
      </label>
      <p class="small-print">
        {{ "form.legal-text-1" | translate }}
        <a href="privacy-policy">{{ "general.privacy-policy" | translate }}</a>
        {{ "form.legal-text-2" | translate }}
      </p>
    </div>
    <div class="submit-button-container">
      <app-main-button
        title="{{ 'form.hello' | translate }}"
        [buttonWidth]="'140px'"
      ></app-main-button>
    </div>
  </form>
</div>
