@import "colors";

div {
  display: flex;
  width: 100vw;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  border-bottom: 1px solid $primary;
  padding: 40px 32px;
}

.project-title-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.preview-container {
  width: 40%;
}
