@import "colors";

div {
  display: flex;
  width: 90vw;
  height: 40px;
  align-items: center;
  &:hover {
    .project-list-container {
      background-color: #3dcfb64d;
    }
    .preview-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      margin-bottom: -100px;
      .teaser-img {
        width: 450px;
        height: 250px;
        border-radius: 16px;
        background-color: $primary;
      }
      .teaser-bg {
        width: 450px;
        height: 250px;
        background-image: url("/assets/img/teaser-img-hover.png");
        background-size: cover;
        margin-right: -475px;
        margin-top: 40px;
        border-radius: 16px;
      }
    }
    img {
      opacity: 1;
    }
  }
}

.project-list-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  padding: 40px 32px;
  cursor: pointer;
}

.project-title-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 23px;
    height: 23px;
    opacity: 0;
  }
}

.tech-list {
  display: flex;
  justify-content: flex-end;
}

.separator {
  margin: 0 5px;
  color: $primary;
}

.preview-container {
  display: none;
}
