<section>
  <div class="privacy-container">
    <div class="back-icon" (click)="navigateBack()"></div>
    <div class="privacy-content">
      <h2>{{ "general.privacy-policy" | translate }}</h2>

      <div>
        <h4>{{ "privacy.intro-heading" | translate }}</h4>
        <p>{{ "privacy.intro-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.usage-heading" | translate }}</h4>
        <p>{{ "privacy.usage-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.legal-base-heading" | translate }}</h4>
        <p>{{ "privacy.legal-base-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.data-usage-heading" | translate }}</h4>
        <p>{{ "privacy.data-usage-intro" | translate }}</p>
        <br />
        <p>{{ "privacy.data-usage-1" | translate }}</p>
        <p>{{ "privacy.data-usage-2" | translate }}</p>
        <p>{{ "privacy.data-usage-3" | translate }}</p>
        <p>{{ "privacy.data-usage-4" | translate }}</p>
        <br />
        <p>{{ "privacy.data-usage-copy" | translate }}</p>
        <p>{{ "privacy.data-usage-austria" | translate }}</p>
        <p>{{ "privacy.data-usage-germany" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.responsible-heading" | translate }}</h4>
        <p>{{ "privacy.responsible-copy" | translate }}</p>
        <br />
        <p>Tina Jölly</p>
        <p>Birkenweg 9</p>
        <p>9020 Klagenfurt</p>
        <p>{{ "general.austria" | translate }}</p>
        <p>{{ "general.phone" | translate }}<span>: 0664 126 88 77</span></p>
        <p>
          {{ "general.mail" | translate }}:
          <a href="mailto:tina_joelly@gmx.at">tina_joelly&#64;gmx.at</a>
        </p>
      </div>

      <div>
        <h4>{{ "privacy.storage-duration-heading" | translate }}</h4>
        <p>{{ "privacy.storage-duration-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.rights-heading" | translate }}</h4>
        <p>{{ "privacy.rights-copy" | translate }}</p>
        <br />
        <p>{{ "privacy.rights-1" | translate }}</p>
        <p>{{ "privacy.rights-2" | translate }}</p>
        <p>{{ "privacy.rights-3" | translate }}</p>
        <p>{{ "privacy.rights-4" | translate }}</p>
        <p>{{ "privacy.rights-5" | translate }}</p>
        <p>{{ "privacy.rights-6" | translate }}</p>
        <p>{{ "privacy.rights-7" | translate }}</p>
        <p>{{ "privacy.rights-8" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.austrian-office" | translate }}</h4>
        <p>Dr. Matthias Schmidl</p>
        <p>Barichgasse 40-42, 1030 Wien</p>
        <p>{{ "general.phone" | translate }}<span>: +43 1 52 152-0</span></p>
        <p>
          {{ "general.mail" | translate }}:
          <a href="mailto:dsb@dsb.gv.at">dsb&#64;dsb.gv.at</a>
        </p>
        <p><a href="https://www.dsb.gv.at/">www.dsb.gv.at</a></p>
      </div>

      <div>
        <h4>{{ "privacy.data-transfer-heading" | translate }}</h4>
        <p>
          {{ "privacy.data-transfer-copy-1" | translate }}
          <a
            href="https://commission.europa.eu/document/fa09cbad-dd7d-4684-ae60-be03fcb0fddf_en"
            >https://commission.europa.eu/document/fa09cbad-dd7d-4684-ae60-be03fcb0fddf_en</a
          >
        </p>
        <br />
        <p>{{ "privacy.data-transfer-copy-2" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.security-heading" | translate }}</h4>
        <p>{{ "privacy.security-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.tls-heading" | translate }}</h4>
        <p>{{ "privacy.tls-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.communication-heading" | translate }}</h4>
        <p>{{ "privacy.communication-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.affected-persons-heading" | translate }}</h5>
        <p>{{ "privacy.affected-persons-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.phone-heading" | translate }}</h5>
        <p>{{ "privacy.phone-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.mail-heading" | translate }}</h5>
        <p>{{ "privacy.mail-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.forms-heading" | translate }}</h5>
        <p>{{ "privacy.forms-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.cookies-heading" | translate }}</h4>
        <p>{{ "privacy.cookies-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.cookies-storage-heading" | translate }}</h5>
        <p>{{ "privacy.cookies-storage-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.cookies-delete-heading" | translate }}</h5>
        <p>{{ "privacy.cookies-delete-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.webhosting-heading" | translate }}</h4>
        <p>{{ "privacy.webhosting-copy-1" | translate }}</p>
        <br />
        <p>{{ "privacy.webhosting-copy-2" | translate }}</p>
        <br />
        <h5>{{ "privacy.webhosting-reason-heading" | translate }}</h5>
        <p>{{ "privacy.webhosting-reason-1" | translate }}</p>
        <p>{{ "privacy.webhosting-reason-2" | translate }}</p>
        <p>{{ "privacy.webhosting-reason-3" | translate }}</p>
        <br />
        <h5>{{ "privacy.webhosting-data-heading" | translate }}</h5>
        <p>{{ "privacy.webhosting-data-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.webhosting-storage-heading" | translate }}</h5>
        <p>{{ "privacy.webhosting-storage-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.sm-heading" | translate }}</h4>
        <p>{{ "privacy.sm-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.sm-data-heading" | translate }}</h5>
        <p>{{ "privacy.sm-data-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.sm-storage-heading" | translate }}</h5>
        <p>{{ "privacy.sm-storage-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.webdesign-heading" | translate }}</h4>
        <p>{{ "privacy.webdesign-copy" | translate }}</p>
        <br />
        <h5>{{ "privacy.webdesign-storage-heading" | translate }}</h5>
        <p>{{ "privacy.webdesign-storage-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.google-fonts-heading" | translate }}</h4>
        <p>{{ "privacy.google-fonts-copy" | translate }}</p>
      </div>

      <div>
        <h4>{{ "privacy.person-data-heading" | translate }}</h4>
        <p>{{ "privacy.person-data-copy" | translate }}</p>
      </div>

      <div>
        <p>{{ "privacy.copyright" | translate }}</p>
        <p class="small-print">{{ "privacy.source" | translate }}</p>
      </div>
    </div>
  </div>
</section>
