<div class="carousel-wrapper">
  <div class="carousel">
    <div
      class="testimonial-card"
      *ngFor="let t of refQuotes; let i = index"
      [ngClass]="getCardPositionClass(i)"
    >
      <div class="quote-symbol"><img src="/assets/img/icons/quotes.png" /></div>
      <p class="quote">{{ t.quote }}</p>
      <div class="name-row">
        <div class="divider"></div>
        <div class="name-container">
          <p>{{ t.name }} - {{ t.role }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">
    <button class="arrow-left" (click)="prev()"></button>
    <div class="dots">
      <span
        *ngFor="let t of refQuotes; let i = index"
        class="dot"
        [class.active]="i === currentIndex"
        (click)="goTo(i)"
      ></span>
    </div>
    <button class="arrow-right" (click)="next()"></button>
  </div>
</div>
