@import "colors";

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;

  .overlay-gradient {
    background: linear-gradient(
      90deg,
      #1c1c1c 0%,
      rgba(28, 28, 28, 0) 10%,
      rgba(28, 28, 28, 0) 90%,
      #1c1c1c 100%
    );
  }
}

.testimonial-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  max-width: 650px;
  height: 200px;
  opacity: 0;
  background-color: #3dcfb710;
  border: 1px solid $primary;
  border-radius: 32px;
  padding: 48px 40px;
  transition: all 0.5s ease;
  transform: scale(0.8);
  pointer-events: none;

  &.active {
    opacity: 1;
    transform: scale(1);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%) scale(1);
    pointer-events: auto;
    .quote-symbol {
      position: absolute;
      top: -30px;
      left: -30px;
    }
  }

  &.left {
    opacity: 0.5;
    transform: translateX(-110%) scale(0.8);
    z-index: 2;
    .quote-symbol {
      display: none;
    }
  }

  &.right {
    opacity: 0.5;
    transform: translateX(110%) scale(0.8);
    z-index: 2;
    .quote-symbol {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }
}

.name-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
  .divider {
    display: flex;
    flex: 2;
    background-color: white;
    height: 1px;
  }

  p {
    max-lines: 1;
  }
}

.controls {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .arrow-left {
    background: none;
    background-image: url("/assets/img/icons/arrow-left.png");
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      background-image: url("/assets/img/icons/arrow-left-hover.png");
    }
  }

  .arrow-right {
    background: none;
    background-image: url("/assets/img/icons/arrow-right.png");
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      background-image: url("/assets/img/icons/arrow-right-hover.png");
    }
  }

  .dots {
    display: flex;
    gap: 20px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;

      &.active {
        background-color: $primary;
      }
    }
  }
}
