<div class="banner-container">
  <div class="wrapper">
    <ng-container *ngFor="let title of bannerTitles.bannerSections">
      <div class="divider-circle"></div>
      <p>{{ title }}</p>
    </ng-container>
    <ng-container *ngFor="let title of bannerTitles.bannerSections">
      <div class="divider-circle"></div>
      <p>{{ title }}</p>
    </ng-container>
    <ng-container *ngFor="let title of bannerTitles.bannerSections">
      <div class="divider-circle"></div>
      <p>{{ title }}</p>
    </ng-container>
  </div>
</div>
