@import "colors";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  height: 100vh;
  padding: 0px 100px;
  z-index: 90;
  overflow: hidden;
  background-color: $darkgradient;
  background: linear-gradient(
    55.22deg,
    $darkgradient 36.26%,
    $greengradient 93.28%
  );
}

.hero-content {
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex: 6;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.scroll-down-btn {
  width: 30px;
  height: 48px;
  border-radius: 20px;
  border: solid 1px $primary;
  img {
    animation: arrowAnimation 1.5s linear infinite;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.vertical-line {
  border-left: solid 1px $primary;
  height: 240px;
}

.hero-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  gap: 10px;
  cursor: pointer;
  &:hover {
    .hero-circle {
      opacity: 1;
    }
  }
}

.hero-github {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 20px;
  background-image: url("/assets/img/icons/github.png");
  &:hover {
    background-image: url("/assets/img/icons/github_white.png");
  }
}

.hero-linkedin {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 20px;
  background-image: url("/assets/img/icons/linkedin.png");
  &:hover {
    background-image: url("/assets/img/icons/linkedin_white.png");
  }
}

.hero-mail-mobile {
  display: none;
}

.hero-circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: $primary;
  opacity: 0;
}

.vertical-line-white {
  border-left: solid 1px white;
  height: 225px;
}

.hero-mail {
  font-family: "Karla";
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 75px;
  rotate: -90deg;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  &:active {
    color: $primary;
  }
}

.hero-button-row,
div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}

.mobile-bottom-container {
  display: none;
}

.hero-mail-mobile {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 20px;
  background-image: url("/assets/img/icons/mail-hero.png");
  &:hover {
    background-image: url("/assets/img/icons/mail-hero-hover.png");
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0 80px;
  }
}

@media (max-width: 1280px) {
  section {
    padding: 0 60px;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 0 40px;
  }

  .title-container {
    flex: 10;
  }
}

@media (max-width: 795px) {
  section {
    padding: 0 30px;
  }

  .hero-content {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .title-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 200px;
    gap: 20px;
  }

  .side-container {
    display: none;
  }

  .hero-button-row {
    gap: 20px;
  }

  .mobile-spacing {
    flex: 2;
  }

  .mobile-bottom-container {
    display: flex;
    width: 100%;
    align-items: space-between;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
  }

  .mobile-side-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }

  .vertical-line {
    border-left: solid 1px $primary;
    height: 200px;
  }

  .vertical-line-white {
    border-left: solid 1px white;
    height: 150px;
  }
}

@media (max-width: 660px) {
  section {
    padding: 0 23px;
  }

  .hero-linkedin,
  .hero-github,
  .hero-mail-mobile {
    width: 25px;
    height: 25px;
    background-size: cover;
  }

  .scroll-down-btn {
    width: 25px;
    height: 42px;
  }
}

@media (max-width: 550px) {
  .hero-button-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

    .title-container {
      padding-top: 150px;
    }
  }
}

@media (max-height: 700px) {
  .title-container {
    padding-top: 90px;
  }
}

@media (max-height: 500px) {
  section {
    height: 125vh;
    overflow-y: scroll;
  }
}

@media (max-width: 480px) {
  section {
    padding: 0 15px;
  }
}
