@import "colors";

button {
  display: flex;
  gap: 5px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  p {
    color: white !important;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  .arrow-container {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 0px;
    background-image: url("/assets/img/icons/arrow_external.png");
  }
  &:hover {
    border: 1px solid $primary;
    p {
      color: $primary !important;
    }
    .arrow-container {
      background-image: url("/assets/img/icons/arrow_external_hover.png");
    }
  }
  &:active {
    border: 1px solid $primary;
    p {
      color: $primary !important;
    }
    .arrow-container {
      background-image: url("/assets/img/icons/arrow_external_hover.png");
    }
  }
}
