<section>
  <div class="menu-header">
    <div class="nav-items">
      <app-language-switch></app-language-switch>
      <app-header-link
        title="{{ 'sections.about-me' }}"
        url="about-me"
      ></app-header-link>
      <app-header-link
        title="{{ 'sections.skills' }}"
        url="skills"
      ></app-header-link>
      <app-header-link
        title="{{ 'sections.projects' }}"
        url="projects"
      ></app-header-link>
    </div>
    <div class="header-logo"></div>
    <div class="mobile-header-logo"></div>
    <div class="mobile-burger-menu" (click)="openMobileMenuDialog()">
      <img src="/assets/img/icons/mobile-menu.png" />
    </div>
  </div>
</section>
