@import "colors";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0px 100px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: top;
  gap: 20px;
}

.header-logo {
  width: 169px;
  height: 75px;
  background-image: url("/assets/img/elements/logo.png");
  background-size: cover;
  &:hover {
    width: 167px;
    background-image: url("/assets/img/elements/logo_hover.png");
  }
}

.mobile-header-logo {
  display: none;
}

.mobile-burger-menu {
  display: none;
}

@media (max-width: 1280px) {
  .menu-header {
    padding: 0px 80px;
  }
}

@media (max-width: 1000px) {
  .menu-header {
    padding: 0px 60px;
  }
}

@media (max-width: 880px) {
  .menu-header {
    padding: 0px 40px;
  }
}

@media (max-width: 795px) {
  .header-logo {
    display: none;
  }

  .mobile-header-logo {
    display: block;
    width: 55px;
    height: 62px;
    background-image: url("/assets/img/elements/keyvisual.png");
    background-size: cover;
    &:hover {
      width: 57px;
      height: 64px;
      background-image: url("/assets/img/elements/keyvisual_hover.png");
    }
  }

  .mobile-burger-menu {
    display: block !important;
  }

  .nav-items {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu-header {
    padding: 0px 30px;
  }
}

@media (max-width: 480px) {
  .menu-header {
    padding: 0px 15px;
  }
}
