<section>
  <div class="menu-header">
    <div class="nav-items">
      <mat-slide-toggle labelPosition="before"></mat-slide-toggle>
      <div class="menu-item">
        <h4>About me</h4>
        <div class="hover-circle"></div>
      </div>
      <div class="menu-item">
        <h4>Skills</h4>
        <div class="hover-circle"></div>
      </div>
      <div class="menu-item">
        <h4>Projects</h4>
        <div class="hover-circle"></div>
      </div>
    </div>
    <div class="header-logo"></div>
  </div>
</section>
