<section>
  <div class="menu-header">
    <div class="nav-items">
      <app-language-switch></app-language-switch>
      <app-header-link title="About me" url="about-me"></app-header-link>
      <app-header-link title="Skills" url="skills"></app-header-link>
      <app-header-link title="Projects" url="projects"></app-header-link>
    </div>
    <div class="header-logo"></div>
    <div class="mobile-header-logo"></div>
    <div class="mobile-burger-menu">
      <img src="/assets/img/icons/mobile-menu.png" />
    </div>
  </div>
</section>
