@import "colors";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0px 100px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: top;
  gap: 20px;
}

.header-logo {
  width: 169px;
  height: 75px;
  background-image: url("/assets/img/elements/logo.png");
  background-size: contain;
  &:hover {
    width: 167px;
    background-image: url("/assets/img/elements/logo_hover.png");
  }
}
