@import "colors";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0px 100px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: top;
  gap: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  cursor: pointer;
  h4 {
    font-family: "Fira Code";
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: 100%;
    letter-spacing: -3%;
    margin-top: 5px;
  }
  .hover-circle {
    background-color: none;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-top: 2px;
  }
  &:hover {
    .hover-circle {
      background-color: $primary;
    }
  }
  &:active {
    h4 {
      color: $primary;
    }
    .hover-circle {
      background-color: $primary;
    }
  }
}

.header-logo {
  width: 169px;
  height: 75px;
  background-image: url("/assets/img/elements/logo.png");
  background-size: contain;
  &:hover {
    width: 167px;
    background-image: url("/assets/img/elements/logo_hover.png");
  }
}
